---
import "@src/global.css";
import { SITE_CONFIG, TWITTER_CONFIG } from "@src/site-config";
import { getImage } from "astro:assets";

type Props = {
  title?: string | undefined;
  description?: string | undefined;
  image?: ImageMetadata | undefined;
};

const {
  title = SITE_CONFIG.defaultTitle,
  description = SITE_CONFIG.defaultDescription,
  image,
} = Astro.props;
const urlStr = Astro.url.toString();
const urlWithTrailingSlash = urlStr.endsWith("/") ? urlStr : urlStr + "/";

let opengraphImageUrl: URL;
if (image) {
  const optimizedImage = await getImage({
    src: image,
    width: 1200,
    height: 630,
  });
  opengraphImageUrl = new URL(optimizedImage.src, Astro.site);
} else {
  opengraphImageUrl = new URL(`./opengraph-image`, urlWithTrailingSlash);
}

const twitterHandle = TWITTER_CONFIG.handleName;
---

<meta charset='UTF-8' />
<meta name='description' property='og:description' content={description} />
<meta name='viewport' content='width=device-width' />
<meta name='generator' content={Astro.generator} />
<meta property='og:title' content={title} />
<meta property='og:image' content={opengraphImageUrl.toString()} />
<meta property='og:image:type' content='image/png' />
<meta property='og:image:width' content='1200' />
<meta property='og:image:height' content='630' />
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content={`@${twitterHandle}`} />
<meta name='twitter:creator' content={`@${twitterHandle}`} />
<meta name='twitter:title' content={title} />
<meta name='twitter:description' content={description} />
<meta name='twitter:image' content={opengraphImageUrl.toString()} />
<link rel='sitemap' href='/sitemap-index.xml' />
<title>{title}</title>

<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
<link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
<link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
<link rel='manifest' href='/site.webmanifest' />
